/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Overpass Mono', monospace;
font-family: 'Sawarabi Mincho', sans-serif; */
body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  padding: 2rem 3rem;
}

.nav-item {
  padding: 0 10px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.headings {
  font-family: 'Montserrat Alternates', sans-serif;
}

p, h3 {
  font-size: 1.2rem;
}

#hello, #myskills, #myblog, #credits {
  padding: 3.5rem 2rem 6rem 2rem;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-bottom: -3rem;
}

#title {
  background-image: url("japan0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#title .jumbotron {
  background: none;
}

#title, #myblog {
  padding: 9rem 2rem;
  margin-bottom: -3rem;
}

.container {
  margin: auto 0;
}

#hello {
  background-color: #defcf9;
}

.programmer {
  font-family: 'Overpass Mono', monospace;
}

.jp-text {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.my-pic {
  margin: -7.5rem auto 2rem auto;
  border-radius: 100%;
  width: 12rem;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

#hello .jp-text, #myskills .jp-text, #myblog .jp-text {
  font-size: 1.8rem;
}

#myskills {
  background-color: #cadefc;
}

#credits {
  background-color: #ffe2e2;
}

.row-icon {
  color: #1b6ca8;
  padding: 5%;
}

.row-icon-head {
  font-size: 1.2rem;
}

.myblog {
  background-image: url("japan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  margin: 10px;
}

.cred-pic {
  border-radius: 100%;
  margin: 5% 0;
  width: 150px;
}

a:hover {
  text-decoration: none;
}

footer {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  text-align: center;
  margin: 0;
  background-color: #defcf9;
  padding: 20px 0 5px 0;
}

footer a {
  color: #3f72af;
}

footer a:hover {
  color: #112d4e;
}

.footer-link {
  margin: 10px 25px;
}

.copyright {
  color: #3f72af;
  padding: 10px 0;
}
